In [1]:
# Importing libraries

from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../Data-processed/crop_recommendation.csv')

In [3]:
df.head()

     N   P   K  temperature   humidity        ph    rainfall label
0   90  60  37    20.879744  82.002744  6.502985  202.935536  rice
1  100  51  35    21.770462  80.319644  7.038096  226.655537  rice
2   99  60  41    23.004459  82.320763  7.840207  263.964248  rice
3   95  55  44    26.491096  80.158363  6.980401  242.864034  rice
4   84  57  44    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195   94  26  25    26.774637  66.413269  6.780064  177.774507  coffee
2196   97  40  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  117  35  31    24.131797  67.225123  6.362608  173.322839  coffee
2198   85  27  28    26.272418  52.127394  6.758793  127.175293  coffee
2199  109  17  28    23.603016  60.396475  6.779833  140.937041  coffee

In [5]:
df.size

17600

In [6]:
df.shape

(2200, 8)